#container
{
	/*width: 750px;*/
}

#dropButtons
{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 80px;
	margin: 0px 0px 0px 0px;
}

#dropButtons button
{
	flex-grow: 1;
	text-align: center;
	border: 0px solid black;
	margin: 0px 0px 0px -4px;
	width: 100px;
	height: 50px;
	padding: 0px 0px 0px 0px;
}

#dropButtons div
{
	float: left;
	margin: 0px 0px 0px 4px;
}

#grid div
{
	float: left;
}

#grid div div
{
	background-image: url(BrendanHsu.github.io/whitetile.jpg);
	width: 100px;
	height: 100px;
}
